$color: #111;
$bgcolor: #b8daf5;
$control: #aaa;
$field: #fff;
$link: #6bb1db;
@import url(//fonts.googleapis.com/css?family=Lato:400);

#webkite-results {
  .clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
  }
  padding:0.5em;
  font-family: "Lato","sans-serif";
  background: $bgcolor;
  color: $color;
  div.webkite-sort {
    .label {
      float: left;
      background: $control;
      color: $color;
      border: 2px solid;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  a { color: $color; }
  ul {
    list-style: none;
    margin-left: 0;
  }
  .webkite-toggle-item {
    background: $control;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5em;
    float:right;
    margin-top: -1em;
  }
  .webkite-results-paginator {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 0;
    a {
      font-size: 16px;
      background: $control;
      border: 1px solid;
      width: 1.5em;
      height: 1.5em;
      padding: 5px;
      margin: 0px;
      text-align: center;
      text-decoration: none;
    }
    .webkite-current-page {
      background: #eee;
    }
  }
  .webkite-item-details { margin-top: -1em; }
  table {
    th { background: $control; border: 1px solid; width: 9em;}
    td {
      background: $field;
      border: 1px dotted;
      a { color: $link; }
    }
  }
  .webkite-applied-filters {
    position: relative;
    height: 2em;
    .label {
      background: $control;
      border: 2px solid;
      width: 60px;
      position: absolute;
      top:1px; left:0;
      margin:auto;
      padding-left: 4px;
    }
    width: 100%;
    .current-filters {
      background: $field;
      float:right;
      border: 1px dotted;
      border-left: 0px;
      position: absolute;
      left: 68px;
      width: 80%;
      a {
        text-decoration: none;
        background: #eee;
        margin-left: 2px;
        padding: 2px;
        border: 1px dotted;
        height: 100%;
      }
      a.webkite-clear-filters {
          margin: -1px;
          float:right;
          border: 2px solid;
          width: 1.5em;
          background: $control;
          text-align: center;
      }
    }
  }
}
